a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.label-required {
  color:red;
}

.text-color-red {
	color: #a94442;
}

a.text-color-red {
	color: #a94442;
}

a:hover.text-color-red {
	color: #a94442 !important;
}

.hiddenElement {
	display: none;
}

@media print {
	.hideOnPrint {
	    display: none;
	}

	.hiddenElement {
		display: block;
	}
}

.header-menu-custom {
	padding: 15px 15px !important;
	float: left;
	color: #fff !important;
}
a.header-menu-custom:hover, a.header-menu-custom:visited, a.header-menu-custom:active {
	color: #fff !important;
}

.required { 
   color:red;
}

.modal-header {
	color: #fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #0480be;
    /*-webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;*/
 }


ul {
	list-style-type: none;
}
.image-upload > input
{
	display: none;
}

.image-upload i
{
  cursor: pointer;
}

.overlay{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(255,255,255,0.8) url("/gif/loading-buffering.gif") center no-repeat;
}
body.loading{
  overflow: hidden;   
}
body.loading .overlay{
  display: block;
}